body {
    margin: 0;
    padding: 0;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1080px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #0beef0;
}

.buttons {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.button {
    display: block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
