body {
    margin: 0;
    padding: 0;
    background-color: #0050F2;
    font-family: Arial, sans-serif;
    background-size: 100%;
}

.container {
    max-width: 1920px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #0beef0;
}

.buttons {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.button {
    display: block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-size: contain;
}